{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Atlantis Admin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'atlantis_site/style.css' %}">
    {% include '_favicon.html' %}
</head>
<body class="page root-page{% block body_class %}{% endblock %}" id="{% block page_id %}base-page{% endblock %}">
    {% block nav %}{% include 'root/_navbar_root.html' %}{% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>
