<nav class="sidebar">
    <div class="sidebar-brand">
        <span class="sidebar-brand-name">Atlantis</span>
        <span class="sidebar-brand-sub">admin</span>
    </div>
    <a href="/root/">home</a>
    {% if perms.atlantis_site.fulfillment or perms.atlantis_site.organizer %}
        <a href="/root/shop">shop management</a>
        <a href="/root/fulfillment">fulfillment</a>
    {% endif %}
    {% if perms.atlantis_site.t1_review or perms.atlantis_site.organizer or perms.atlantis_site.t2_review or perms.atlantis_site.t3_review %}
        <a href="/root/review">T1 review</a>
    {% endif %}
    {% if perms.atlantis_site.t2_review or perms.atlantis_site.organizer or perms.atlantis_site.t3_review %}
        <a href="/root/ysws_review">T2 review</a>
    {% endif %}
    {% if perms.atlantis_site.t3_review or perms.atlantis_site.organizer %}
        <a href="/root/fraud_review">T3 review</a>
    {% endif %}
    {% if perms.atlantis_site.timelapse_review or perms.atlantis_site.organizer %}
        <a href="/root/timelapse_review">timelapse review</a>
    {% endif %}
    {% if perms.atlantis_site.organizer %}
        <a href="/root/audit_log">audit log</a>
        <a href="/root/users">users</a>
        <a href="/root/projects">projects</a>
        <a href="/root/metrics">metrics</a>
    {% endif %}
    <a href="/dashboard">back home</a>
</nav>