{% extends "atlantis_site/_guides_base.html" %}

{% block title %}Intro &mdash; Guides{% endblock %}

{% block guide %}
<article class="guide-article">
    <h1>Intro</h1>

    <p class="guide-lead">
        Hi, I'm Fishy, and welcome to the Atlantis general guide! This guide contains
        all (or most) of the information you need to get started. If you have any
        questions that weren't answered here, ask in the <strong>#atlantis-help</strong>
        Slack channel and we will respond as soon as we can.
    </p>

    <p>
        Not on the Slack? Join <a href="https://slack.hackclub.com/" target="_blank" rel="noopener">here</a>.
    </p>

    <h2>What is Atlantis?</h2>

    <p>
        Atlantis is a program coming to you from
        <a href="https://hackclub.com/" target="_blank" rel="noopener">Hack Club</a>!
        The first three weeks consist of us (the team) gathering people to participate,
        because once we start it's too late to join. You are also able to CAD for pearls
        (our currency) while you wait for the main voyage to begin.
    </p>

    <p>
        Then starts the 8 weeks of CAD. You must do a minimum of 5 hours of CAD logged
        each week using Lapse (a Hack Club project timelapse recorder). You can do more
        than 5 to get pearls for upgrading your printer or buying extra prizes like
        filament and nozzles, but if you don't get 5 hours one week you get eliminated.
        If you have a streak saver, you can save yourself from elimination, but streak
        savers cost pearls, so you should stock up on them during the prep weeks or in
        your extra time.
    </p>

    <p>
        At the end, if you survived, you get a free 3D printer! If you only did 5 hours
        each week or didn't buy any upgrades, you can choose between a bunch of "base"
        printers and multicolor units that cost ~$250 USD, or you can get a $250 USD
        grant to buy your own printer. If you did more hours and bought upgrades, there
        are tons of bigger and better printers available. The more hours approved, the
        better the prizes.
    </p>

    <h2>What is CAD?</h2>

    <p>
        CAD, or computer aided design, is a broad term that in this case refers to a
        digital 3D design program.
    </p>

    <div class="guide-callout">
        <p>
            For the purpose of Atlantis, this does not include 3D sculpting software used
            for art such as Blender, or PCB design software.
        </p>
        <p>
            When we refer to "CAD" in Atlantis it almost always means 3D design programs
            using a (primarily) sketch-extrude system.
        </p>
    </div>

    <p>
        Various programs are used for designing assemblies of machinery, robotics, 3D
        printing, and other mechanical and real world applications. The most common form
        of CAD uses a sketch-extrude system for creating models.
    </p>

    <p>
        Next up: see <a href="{% url 'guide_detail' 'cad-software' %}">CAD Software</a>
        for which packages you're allowed to use.
    </p>
</article>
{% endblock %}
