{% extends "atlantis_site/_guides_base.html" %}

{% block title %}Project Guidelines &mdash; Guides{% endblock %}

{% block guide %}
<article class="guide-article">
    <h1>Project Guidelines</h1>

    <h2>What is a "good" project?</h2>

    <p>There are a few things to consider about your idea before even starting your project:</p>

    <ul>
        <li>Is it something you would want or use?</li>
        <li>
            Is it original and made by you?
            <ul>
                <li>
                    If it uses a tutorial, did you change it significantly enough that it
                    could be considered your design and not a copy of the tutorial's?
                </li>
            </ul>
        </li>
        <li>Would other people want this project?</li>
    </ul>

    <p>
        If you find that your idea doesn't fit these criteria or the rest of the criteria
        on this page, rethink it or come up with something that fits.
    </p>

    <h2>Functionality</h2>

    <p>
        Your project doesn't have to be incredibly complicated, it just has to serve a
        purpose. When coming up with your next project, think about what you would use and
        find useful and/or enjoyable. The things you create during Atlantis need to have a
        purpose, and that purpose does not include being looked at. You can and should
        make good looking projects, but they all need to actually <em>do something</em>.
    </p>

    <p>
        A great example of simple but useful (and cute) is this
        <a href="https://www.printables.com/model/1806678-brachio-door-wedge-stopper" target="_blank" rel="noopener">low poly dino doorstop</a>
        &mdash; it has both a use, and looks nice.
    </p>

    <p>
        If you put as your project's purpose or use case something like "to be put on
        display and admired" it will not be accepted 99% of the time. If it is, for
        example, a toy, it can't just be a static model with no moving parts. A toy car
        could have wheels and doors that open, both of which are not very difficult to
        implement.
    </p>

    <p>
        We encourage mechanical projects, meaning something with parts that move and add
        functionality to the project. If your project has mechanical aspects, it is much
        more likely to be accepted. That doesn't mean you should try and fit one in
        wherever you can &mdash; still thoughtfully plan out what you are going to make
        before making it, and before each drastic change you plan on making.
    </p>

    <h2>Printability</h2>

    <p>
        Not every part of your project has to be 3D printed, but most of it should be.
        Atlantis is all about 3D printing &mdash; after all, the reward <em>is</em> a 3D
        printer. We have a wonderful guide made by the lovely Parker Rupe here on the
        website that guides you through making parts that are 3D printable and able to be
        made real.
    </p>

    <h2>Presentation and polish</h2>

    <p>
        This applies not just to the CAD, but to the Printables page you will have to
        create for each project you make. The project should look like it belongs on the
        front page of Printables; it should be something you are proud of and want to show
        the world. Every project must also be under an open source license.
    </p>

    <p>
        Chamfers and fillets can make rough edges and boxy designs look much better. Using
        them to polish your models is a good habit to get into &mdash; just make sure not
        to ruin a part's function by stylizing.
    </p>

    <h2>What you shouldn't timelapse</h2>

    <p>All CAD should be recorded with Lookout, however some things shouldn't be recorded.</p>

    <div class="guide-callout">
        <p>Do not record or log time for:</p>
        <p>&bull; Watching tutorial videos<br>&bull; Printing your project</p>
    </div>

    <p>
        You can record yourself slicing the project to check for printability, but not for
        actually printing it. Don't abuse this ability.
    </p>

    <h2>Specifically disallowed projects</h2>

    <p>These rules are enforced by Hack Club as a whole and not by Atlantis specifically.</p>

    <ul>
        <li>Weapons (real or prop)</li>
        <li>Anything for sponsored robotics teams such as FRC, FTC, and VEX</li>
        <li>Anything NSFW</li>
    </ul>
</article>
{% endblock %}
