{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Atlantis{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'atlantis_site/style.css' %}">
    {% include '_favicon.html' %}
</head>
<body class="page" id="{% block page_id %}base-page{% endblock %}">
    {% include 'atlantis_site/_navbar.html' %}
    {% include 'atlantis_site/_banner.html' %}

    {% block content %}
    {% endblock %}

    <a class="profile" href="{% url 'user_profile' user.id %}">
        <img src="{{ user.hackclub_profile.slack_pfp_url }}" id="pfp">
        <p>{{ user.hackclub_profile.slack_username }}</p>
        <p>{{ user.hackclub_profile.layers }} pearls</p>
    </a>
</body>
</html>