{% extends "layered_site/_base.html" %}

{% block page_id %}dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="content">
    {% include "root/_messages.html" %}
    <h1>Hack Club Layered</h1>
    <h3>your information (fetched from Hack Club Auth): </h3>
    <p>your email: {{ user.email }}</p>
    <p>your name: {{ user.get_full_name }}</p>
    <p>your verification status: {{ user.hackclub_profile.verification_status }}</p>
    <p>your slack id: {{ user.hackclub_profile.slack_id }}</p>
    <p>your slack username: {{ user.hackclub_profile.slack_username }}</p>
    <br>
    <div style="display: flex; align-items: center;">
        <p>your slack PFP (64x64px):</p>
        <img src="{{ user.hackclub_profile.slack_pfp_url }}" style="width: 64px; height: auto; padding-left: 30px;">
    </div>
</div>
{% endblock %}